name: Format, Analyze and Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  default_run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      - run: flutter doctor
      - run: flutter pub get
      - run: flutter format --set-exit-if-changed -l 120 lib
      - run: flutter packages pub run build_runner build --delete-conflicting-outputs
      - run: flutter analyze lib
      - run: flutter test --no-pub --coverage

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true